apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: demo-pvc
  namespace: demo-storage
spec:
  accessModes: ["ReadWriteOnce"]
  storageClassName: gp3-csi
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: Pod
metadata:
  name: writer
  namespace: demo-storage
spec:
  containers:
  - name: app
    image: busybox:1.36
    command: ["sh","-c","echo hello-$(date) >> /data/out.txt && sleep 3600"]
    volumeMounts:
    - name: data
      mountPath: /data
  volumes:
  - name: data
    persistentVolumeClaim:
      claimName: demo-pvc
